@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base CSS */
@layer base {
  @font-face {
    font-family: Hellix-Light;
    src: url(./fonts/Hellix-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: Hellix-Regular;
    src: url(./fonts/Hellix-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: Hellix-Medium;
    src: url(./fonts/Hellix-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: Hellix-SemiBold;
    src: url(./fonts/Hellix-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: Hellix-Bold;
    src: url(./fonts/Hellix-Bold.ttf) format('truetype');
  }

  button,
  a {
    @apply no-underline hover:no-underline outline-none;
  }
  ol,
  ul {
    @apply list-none;
  }

  textarea {
    @apply resize-none;
  }

  body {
    @apply bg-[#190B21]  overflow-x-hidden text-white;
  }
  #root {
    @apply bg-cover bg-no-repeat bg-left-top;
  }
  img {
    @apply max-w-full object-contain h-auto block;
  }
}

/* Custom Classes */
@layer components {
  .btns {
    background: -moz-linear-gradient(left, #b741ff 5.64%, #07a9ee 104.39%);
    background: -webkit-linear-gradient(left, #b741ff 5.64%, #07a9ee 104.39%);
    background: linear-gradient(to right, #b741ff 5.64%, #07a9ee 104.39%);

    @apply text-white rounded-[3.8px] text-center uppercase tracking-[24.5%] transition-all text-sm font-Hellix600 relative;
  }
  .btns::after {
    background: -moz-linear-gradient(left, #b741ff 105.64%, #07a9ee 4.39%);
    background: -webkit-linear-gradient(left, #b741ff 105.64%, #07a9ee 4.39%);
    background: linear-gradient(to right, #b741ff 105.64%, #07a9ee 4.39%);

    @apply absolute w-full h-full opacity-0 transition-all;
  }
  .btns::after:hover {
    @apply opacity-100;
  }
  .bg-shade {
    background: linear-gradient(
      180deg,
      rgba(27, 12, 37, 0) 35.94%,
      #1f0d2a 100%
    );
  }
}
